{{#if success}}
  <div class="alert alert-success" role="alert">
    {{success}}
  </div>
{{/if}}

<div class="conatiner p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card text-center">
        <div class="card-header">
          <h3 class="text-uppercase">EDITANDO NUEVA PERSONA</h3>
        </div>
        <div class="card-body">
          <form action="/edit/{{persona.id}}" method="post">
            <div class="input-group mt-2">
              <label for="nombre" class="input-group-text">Nombre</label>
              <input
                class="form-control"
                type="text"
                name="nombre"
                id="nombre"
                placeholder="Ejemplo: Luis Angel"
                value="{{persona.nombre}}"
                autofocus
                required
              />
            </div>
            <div class="input-group mt-2">
              <label for="apellido" class="input-group-text">Apellido</label>
              <input
                class="form-control"
                type="text"
                name="apellido"
                id="apellido"
                placeholder="Ejemplo: Fernandez"
                value="{{persona.apellido}}"
                required
              />
            </div>
            <div class="input-group mt-2">
              <label for="edad" class="input-group-text w-2">Edad</label>
              <input
                class="form-control"
                type="number"
                name="edad"
                id="edad"
                value="{{persona.edad}}"
                placeholder="22 "
                required
              />
            </div>
            <div class="input-group mt-2">
              <label for="curso" class="input-group-text w-2">Curso</label>
              <input
                class="form-control"
                type="text"
                name="curso"
                id="curso"
                value="{{persona.curso}}"
                placeholder="Ejemplo: Matematicas"
                required
              />
            </div>
            <div class="form-group mt-4 d-grid gap-2">
              <button class="btn btn-success"> Actualizar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>